body {
    margin: 0;
    padding: 0;
}

:root {
    --glowny-kolor-ptaka: #EA2027;
    --kolor-pomaranczowy: #e67e22;
}

.kolo {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ed6df;
}

.bird {
    position: relative;
}

.body {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.body1 {
    border-bottom: 100px solid var(--glowny-kolor-ptaka);
}

.body2 {
    border-top: 100px solid var(--glowny-kolor-ptaka);
    position: relative;
    z-index: 88;
}

.ear {
    position: absolute;
    border-top: 100px solid transparent;
    top: 0;
}

.ear1 {
    border-left: 70px solid var(--glowny-kolor-ptaka);
    border-right: 100px solid transparent;
    left: 0;
}

.ear2 {
    border-right: 70px solid var(--glowny-kolor-ptaka);
    border-left: 100px solid transparent;
    right: 0;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 50px;
}

.eye1 {
    left: 65px;
}

.eye2 {
    right: 65px;
}

.e {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    z-index: 999;
    top: 10px;
}

.e1 {
    right: 5px;
}

.e2 {
    left: 5px;
}

.stomach {
    position: absolute;
    border-top: 90px solid #fff;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    top: -100px;
    right: -90px;
}

.tie {
    position: absolute;
    border-top: 60px solid var(--kolor-pomaranczowy);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: -90px;
    right: -15px;
}

.foot {
    position: absolute;
    border-bottom: 30px solid var(--kolor-pomaranczowy);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 160px;
}

.foot1 {
    left: 60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.foot2 {
    right: 60px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
